/*------------------------Master-----------------------------------*/

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url("../Images/backgroundImage.jpg");
}

#navMenu {
	position:relative;
	left:0;
	top:0;
	background-color:#3498DB;
	width:100%;
	height:60px;
}


#logStyle {
	font-family: helvetica, sans-serif;
	font-size: 40px;
}

.logPos {
	position: relative;
	top: 5px;
	left: 10px;
}

#signOutStyle {
	background-color: red;
	width: 20px;
	height: 10px;
}

.signOutPos {
	position: absolute;
	left: 90%;
	top: 50%;
}

/* Side menu */
#sideMenu {
	position: absolute;
	top: 60px;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: #2b2b2b;
}

#sideMenu ul{
	list-style: none;
}

#sideMenu ul li{
	margin: 0 5px 10px 0;
}

#sideMenu ul li:hover{
	background-color: #919191;
}

#sideMenu ul li a{
	color: white;
}

#sideMenu ul li a:link{
	text-decoration: none;
}

#sideMenu ul li a:visited{
	text-decoration: none;
}

#sideMenu h2{
	color: #919191;
	position: relative;
	top: 0;
	left: 10px;
}

#sideMenu ul li img{
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.sideMenyFont {
	color: white;
}


@media (min-width: 581px) {

}

/*-------------MessageToPortCDM--------------*/

#messageBox {
	text-align:center;
}

#messageBox table {
	margin-bottom:20px;
}

.sendButton{	
	border:0;
	padding: 10px 40px;
	margin: 0 10px 10px 0;
	border-radius: 20px;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	background-color: #3498DB;
}

.sendButton:hover
{
	background-color: #2980B9;
}

/*---------------Inbox----------------------*/
.inboxList
{
	list-style-type:none;
}

.inboxItem {
	border-bottom:1px solid #000;
	margin: 20px;
	padding: 20px;
}

.shipPic {
	max-width: 160px;
}