/*------------------------Master-----------------------------------*/

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: url("../Images/backgroundImage.jpg");
}

#navMenu {
	position:relative;
	left:0;
	top:0;
	background-color:#97cbdc;
	width:100%;
	height:60px;
}

#navMenu img{
	position: relative;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
}

@media (min-width: 764px) {
  #navMenu img {
  	display: none;
  }
}

#logoAndHamburger {
	padding: 15px 0 15px 30px;
}

#logStyle {
	font-family: arial, sans-serif;
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.logPos {
	position: relative;
	top: 0px;
	left: 0px;
	padding-left: 20px;
}

#signOutStyle {
	background-color: red;
	width: 20px;
	height: 10px;
	display: none;
}

.signOutPos {
	position: absolute;
	left: 90%;
	top: 50%;
}

#mainBox {
	background-color: rgba(256,256,256,0.84);
	padding: 5px 30px 30px 30px;
	margin-left: 265px;
	margin-right: 15px;
	margin-top: 15px;
}

@media (max-width: 764px) {
  #mainBox {
  	margin-left: 15px;
  }
}

/* ----------------------- Side menu ------------------------------*/
#sideMenu {
	position: absolute;
	top: 60px;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: #2b2b2b;
}

@media (max-width: 764px) {
  #sideMenu {
  	display: none;
  }
}

#sideMenu h2{
	color: #919191;
	position: relative;
	top: 0;
	left: 0px;
	margin-left: 30px;
	font-weight: normal;
	font-size: 24px;
}

#sideMenu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#sideMenu ul li{
	margin: 0;
	padding: 15px 30px 15px 30px;

}

#sideMenu ul li:hover{
	background-color: #919191;
}

#sideMenu ul li a{
	color: white;
	font-size: 20px;
}

#sideMenu ul li a:link{
	text-decoration: none;
}

#sideMenu ul li a:visited{
	text-decoration: none;
}


#sideMenu ul li img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.sideMenyFont {
	color: white;
}


@media (min-width: 581px) {

}

/*-------------Same for all pages--------------*/

.content h1 {
	font-size: 24px;
	color: #018abd;
	font-weight: normal;

}


/*-------------MessageToPortCDM--------------*/

#messageBox {
	text-align:center;
}

#messageBox table {
	margin-bottom:20px;
}

.sendButton{
	border:0;
	padding: 10px 40px;
	margin: 0 10px 10px 0;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	background-color: #018abd;
}

.sendButton:hover
{
	background-color: #2980B9;
}

/*---------------Inbox----------------------*/
.inboxList
{
	list-style-type:none;
}

.inboxItem {
	border-bottom:1px solid #000;
	margin: 20px;
	padding: 20px;
}

.shipPic {
	max-width: 160px;
}

/*---------------Dashboard----------------------*/

.dashBox {
    display: inline-block;
    vertical-align:top;
    width: 44%;
    background-color: white;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
    color: black;
    font-size: small;
    font-weight: normal;
}

.dashBox h2 {
    color:#458;
    font-size:large;
    font-weight:bold;
    margin-top:0.5em;
}

.dashBox img {
    max-width:100%;
}

.dashBoxDark {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    background-color: #048;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
    color: white;
    font-size: small;
    font-weight: normal;
}

    .dashBoxDark h2 {
        color: #8df;
        font-size: large;
        font-weight: bold;
        margin-top: 0.5em;
    }

    .dashBoxDark img {
        max-width: 100%;
    }


/*-----------------------Timeline-------------------------*/
#events {
    background-color: transparent;
    width: 100%;
    max-height: 100%;
}

@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: left;
    
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

/* ------------------------------- Ships --------------------------*/

.add-icon {
	width: 30px;
	height: 30px;
}

.ship-links {
	background-color: white;
	padding: 0 20px 20px 20px;
}

.ship-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ship-links img {
	display:inline;
	height: 15px;
	margin-right: 5px;
}

.ship-links li {
    float: left;
    margin-right: 30px;
}

.ship-links li a {
    display: block;
    color: #001b48;
    text-align: center;
    text-decoration: none;
}

.ship-comment {
	border: 1px solid white;
	margin-left: 10px;
	font-size: 14px;
	color: #018abd;
}

.ship-comment:focus {
	border: 1px solid #018abd;
}


.accordion {
    margin: 10px auto;
    text-align: left;
}

.accordion h2 {
	font-size: 24px;
	color: #001b48;
	font-weight: normal;
	margin-top: 0px;
}

.accordion .ship-img {
	width: 100px;
	height: 100px;
}

.accordion .icon {
	width: 25px;
	height: 25px;
	float: right;
}

.accordion .left-content {
	float: left;
}

.accordion .right-content {
	float: right;
	text-align: right;
}

.accordion p {
	font-size: 14px;
	color: #018abd;
	padding-left: 10px;
	padding-right: 10px;
}


.accordion label {
    padding: 20px 20px 15px 20px;
    position: relative;
    display: block;
    height: 120px;
    cursor: pointer;
    color: #001b48;
    font-size: 24px;
    background: white;
    margin-top: 10px;
}
.accordion label:hover {
    background: white;
}
.accordion input + label {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.accordion input:checked + label,
.accordion input:checked + label:hover {
    background: white;
}
.accordion .hidden {
    display: none;
}

.accordion .article {
    background: white;
    overflow: hidden;
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
}

.accordion .article h3 {
	margin-top: 0;
    font-size: 16px;
	color: #001b48;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
}

.accordion .article p {
    line-height: 23px;
}
.accordion input:checked ~ .article {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.accordion input:checked ~ .article.ac-small {
    height: 130px;
}
.accordion input:checked ~ .article.ac-medium {
    height: 195px;
}
.accordion input:checked ~ .article.ac-large {
    height: 245px;
}


/*----------------------------Add ship--------------------------------------*/

.add-button {
	border:0;
	padding: 10px 40px;
	margin: 0 10px 10px 0;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	background-color: #018abd;
}

.imo-box {
	border: 1px solid #018abd;
	margin-left: 10px;
}

.add-ship {
    margin: 10px auto;
    color: #001b48;
}

.add-ship p {
	font-size: 14px;
}

.add-ship label {
    font-family: Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    text-align: right;
    display: block;
    height: 30px;
    cursor: pointer;
    line-height: 33px;
    font-size: 19px;
}

.add-ship input + label {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add-ship input {
}

.add-ship #as-1 {
    display: none;
}

.add-ship .article {
    background: rgb(255, 255, 255);
    overflow: hidden;
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.add-ship .article p {
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
}
.add-ship input:checked ~ .article {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.add-ship input:checked ~ .article.ac-small {
    height: 250px;
}
.add-ship input:checked ~ .article.ac-medium {
    height: 250px;
}
.add-ship input:checked ~ .article.ac-large {
    height: 250px;
}

/*----------------------------Send Message--------------------------------------*/

#smContent {
    padding: 5px 30px 30px 30px;
}

.messageStep {
    border-bottom: 1px solid #018abd;
    box-sizing: border-box;
    padding: 1.5rem 0;
}

.listCounterDiv {
    height: 2.7rem;
    width: 2.7rem;
    display: inline-block;
    font-size: 1.38462rem;
    color: #fff;
    line-height: 41px;
    text-align: center;
}

.listCounter svg {
    display: inline-block;
    padding: 9px;
    fill: white;
}

.listCounter {
    background-color: #6cbfee;
    border-radius: 50%;
    height: 2.69231rem;
    width: 2.69231rem;
}

.stepHeader {
    align-items: center;
    display: flex;
    height: 2.7rem;
    margin-right: 1.5rem;
}

#messageSteps {
    list-style-type: none;
    counter-reset: li-counter;
}

.stepHeader h2 {
    font-size: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #018abd;
    margin-left: 10px;
    padding: 1.5rem 0;
}

.stepContent {
    border: none;
    box-shadow: none;
    margin-top: 1.67982rem;
    margin-bottom: 1.5rem;
    max-width: 850px;
    padding: 0;
    display: block;
    margin-left: 4.19231rem;
}

.stepContent select {
    -webkit-appearance: menulist;
    padding: .75rem 1.5rem .75rem 1rem;
    width: 100%;
    min-width: 100px;
    color: #018abd;
    border: #018abd 1px solid;
    background-color: rgba(256, 256, 256, 0.5);
    border-radius: 5px
}

.smButton {
    border: 0;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 20px 10px 10px 0;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    background-color: #018abd;
    -webkit-font-smoothing: antialiased;
}

#smContent .textInput {
    -webkit-appearance: none;
    border: #018abd 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: .75rem 1rem;
}

#smContent h1 {
    text-align: center;
}

.coordinateBox {
    width: 39%;
    display: inline-block;
}

.coordinateBox:nth-child(even) {
    margin-left: 79px;
}

.atCoordinateBox {
    width: 39%;
    display: inline-block;
}

.formText {
    margin-top: 30px;
    font-size: 15px;
    color: #018abd;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: .375rem;
}

.dateSeparator {
    margin-top: 30px;
    margin-right: 5px;
    font-size: 15px;
    color: #018abd;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: .375rem;
    display: inline-block;
}

.dateSeparator:not(:first-child) {
    margin-left: 15px;
}

.dateDropDown {
    max-width: 50px;
}

.locationBox {
    width: 45%;
    display: inline-block;
    text-align: left;
}

.locationBox:nth-child(odd) {
    margin-right:9%;
}

.checkBoxes {
    margin-top: 0px !important;
    display: inline-block;
}

#toCheckBoxCss, #fromCheckBoxCss {
    display: inline-block;
}

#fromLocationForm, #toLocationForm, #atLocationForm {
    display: none;
}

.timeBox {
    width: 10%!important;
}

.fancyBoxButton {
    display: none;
}

